---
title: World trip
description: Digital nomad on an adventure around the world
---

<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }} – {{ page.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/map.css" />

    <noscript>
        <link rel="stylesheet" href="noscript.css" />
        <p>This site needs javascript to be enabled</p>
        <a target="_blank" href="http://www.enable-javascript.com/">How to enable javascript in your browser</a>
    </noscript>

  <script data-who="💎 Made with naker.io 💎" src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.6/viewer.js" data-option="{|environment|:{|gradient|:|radial|,|sensitivity|:1.7,|colorStart|:[0,0,0,1],|colorEnd|:[10,16,38,1]},|particle|:{|life|:4.2,|power|:0.016,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1566560053/flare_01.png|,|number|:1080,|colorStart|:[250,255,221,0.65],|colorEnd|:[33,86,171,0.82],|sizeStart|:0.5,|sizeEnd|:0.1,|direction1|:{|x|:100,|y|:0,|z|:100},|direction2|:{|x|:-100,|y|:0,|z|:-100}},|waterMark|:false}" data-container="background"></script>
</head>

<body class="is-loading">
    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">
        <div id="background"></div>

        <!-- Call to action header -->
        <header id="header"></header>

        <!-- Navigation -->
        <nav id="nav"></nav>

        <!-- Main -->
        <div id="main">
            <div id="map"></div>
            <table id="stats" style="width:100%">
                <tr>
                    <th></th>
                    <th>Daily Max</th>
                    <th>Daily Average</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>Distance</td>
                    <td>
                        <div id="max-distance"></div>
                    </td>
                    <td>
                        <div id="average-distance"></div>
                    </td>
                    <td>
                        <div id="total-distance">LOADING...</div>
                    </td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>
                        <div id="max-duration"></div>
                    </td>
                    <td>
                        <div id="average-duration"></div>
                    </td>
                    <td>
                        <div id="total-duration"></div>
                    </td>
                </tr>
                <!--tr>
                    <td>Speed</td>
                    <td><div id="max-speed"></div></td>
                    <td><div id="average-speed"></div></td>
                    <td>-</td>
                </tr-->
            </table>
            <div>PS: Check out my world trip blog <a href="/Blog/World Trip/">HERE</a></div>
        </div>
        <!-- Copyright -->
        <div id="copyright">
            {% include footer.html %}
        </div>
    </div>

    <!-- Scripts -->
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
    <script src="{{ site.baseurl }}/main.js"></script>
    <script src="{{ site.baseurl }}/firebase.js"></script>
    <script src="{{ site.baseurl }}/map.js"></script>
</body>

</html>
