<ul class="icons">
    <li><a href="/imprint/">Imprint</a></li>
    <li>
        <a href="https://soundcloud.com/tom_osman_music" class="icon alt fab fa-soundcloud">
            <span class="label">Soundcloud</span>
        </a>
    </li>
    <li>
        <a href="http://facebook.com/thomasascioglu" class="icon alt fab fa-facebook">
            <span class="label">Facebook</span>
        </a>
    </li>
    <li>
        <a href="http://youtube.com/channel/UCEwLERbeplYUpDdSy7VI9tA" class="icon alt fab fa-youtube">
            <span class="label">Youtube</span>
        </a>
    </li>
    <li>
        <a href="http://instagram.com/_u/thomasascioglu/" class="icon alt fab fa-instagram">
            <span class="label">Instagram</span>
        </a>
    </li>
    <li>
        <a href="https://www.tiktok.com/@thomasascioglu?" class="icon alt fab fa-tiktok">
            <span class="label">TikTok</span>
        </a>
    </li>
    <li>
        <a href="http://github.com/thomsan" class="icon alt fab fa-github">
            <span class="label">GitHub</span>
        </a>
    </li>
    <li>
        <a href="http://linkedin.com/in/thomasascioglu/" class="icon alt fab fa-linkedin">
            <span class="label">Linkedin</span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/thomasascioglu" class="icon alt fab fa-twitter">
            <span class="label">Twitter</span>
        </a>
    </li>
    <li>
        <a href="/feed.xml" class="icon alt fas fa-rss">
            <span class="label">RSS</span>
        </a>
    </li>
    <li>&copy; {{ 'now' | date: "%Y" }} Thomas Ascioglu</li>
</ul>
